$mediumScreenWidth: 390px;
$bigScreenWidth: 600px;

$smallScreenButton: 28px;
$mediumScreenButton: 35px;
$bigScreenButton: 50px;

$colorBrightGreen: #45f265;
$colorDefaultGreen: #45b265;
$colorButtonGreen: #45a265;
$colorDisabledGreen: #257245;
$colorShadowGreen: #156a35;
$colorActiveGreen: #45d265;
$colorRedError: #b24565;

body {
  background-color: #333;
  color: #eee;
  font-size: 20px;
}

a {
  color: $colorDefaultGreen;
  text-decoration: none;

  &:hover {
    color: $colorActiveGreen;
  }

  &:active {
    color: $colorBrightGreen;

  }
}

.game {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.game__error {
  color: $colorRedError;
}

.game__drawing-canvas {
  font-size: 25px;
}

.game__keyboard {
  margin: 50px 0;
}

.game__keyboard-row {
  &:nth-child(2) {
    padding-right: 5px;
  }

  &:nth-child(3) {
    padding-right: 15px;
  }

  &:nth-child(4) {
    padding-right: 15px;
  }

  @media all and (min-width: $mediumScreenWidth) {
    &:nth-child(3) {
      padding-right: 20px;
    }
  }

  @media all and (min-width: $bigScreenWidth) {

    &:nth-child(2) {
      padding-right: 20px;
    }
    &:nth-child(3) {
      padding-right: 40px;
    }
    &:nth-child(4) {
      padding-right: 60px;
    }
  }
}

.game__keyboard__button {
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px $colorShadowGreen;
  margin: 1px;
  height: $smallScreenButton;
  width: $smallScreenButton;
  min-width: $smallScreenButton;
  @media all and (min-width: $mediumScreenWidth) {
    margin: 2px;
    box-shadow: 2px 2px $colorShadowGreen;
    height: $mediumScreenButton;
    width: $mediumScreenButton;
    min-width: $mediumScreenButton;
  }
  @media all and (min-width: $bigScreenWidth) {
    height: $bigScreenButton;
    width: $bigScreenButton;
    min-width: $bigScreenButton;
  }
  padding: 0;
  background-color: $colorButtonGreen;

  &:hover, &:focus {
    background-color: $colorDefaultGreen;
    cursor: pointer;
    outline: none;
  }

  &:active {
    position: relative;
    box-shadow: none;
    left: 1px;
    top: 1px;
    @media all and (min-width: $mediumScreenWidth) {
      left: 2px;
      top: 2px;
    }
  }

  &--disabled {
    background-color: $colorDisabledGreen !important;

    &:hover, &:focus {
      background-color: $colorDisabledGreen !important;
      cursor: default;
      outline: none;
    }
  }
}
