$smallScreen: 28px;
$mediumScreen: 35px;
$bigScreen: 50px;

body {
  background-color: #333;
  color: #eee;
  font-size: 20px;
}

a {
  color: #45b265;
  text-decoration: none;

  &:hover {
    color: #45d265;
  }

  &:active {
    color: #45f265;

  }
}

.game {
  text-align: center;
  width: 100%;
  display: inline-block;
}

.game__drawing-canvas {
  font-size: 25px;
}

.game__keyboard {
  margin: 50px 0;
}

.game__keyboard-row {
  &:nth-child(2) {
    padding-right: 5px;
  }

  &:nth-child(3) {
    padding-right: 15px;
  }

  &:nth-child(4) {
    padding-right: 15px;
  }

  @media all and (min-width: 390px) {
    &:nth-child(3) {
      padding-right: 20px;
    }
  }

  @media all and (min-width: 600px) {

    &:nth-child(2) {
      padding-right: 20px;
    }
    &:nth-child(3) {
      padding-right: 40px;
    }
    &:nth-child(4) {
      padding-right: 60px;
    }
  }
}

.game__keyboard__button {
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px #156a35;
  margin: 1px;
  height: $smallScreen;
  width: $smallScreen;
  min-width: $smallScreen;
  @media all and (min-width: 390px) {
    margin: 2px;
    box-shadow: 2px 2px #156a35;
    height: $mediumScreen;
    width: $mediumScreen;
    min-width: $mediumScreen;
  }
  @media all and (min-width: 600px) {
    height: $bigScreen;
    width: $bigScreen;
    min-width: $bigScreen;
  }
  padding: 0;
  background-color: #45a265;

  &:hover,&:focus{
    background-color: #45b265;
    cursor: pointer;
    outline: none;
  }

  &:active{
    position: relative;
    box-shadow: none;
    left: 1px;
    top: 1px;
    @media all and (min-width: 390px) {
      left: 2px;
      top: 2px;
    }
  }

  &--disabled {
    background-color: #257245 !important;
    &:hover,&:focus{
      background-color: #257245 !important;
      cursor: default;
      outline: none;
    }
  }
}
